.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e0e0e0;
	
	h2 {
		margin: 16px 16px;
	}
	
	nav {
		margin: 16px 16px 16px 0px;

		ul {
			list-style: none;
			display: flex;
			
			li {
				margin: 0px 5px;
			}
		}
	}
}